.selector__container {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector__container-image {
    margin-top: -7px;
}

.selector__container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin-top: 15px;
}

.selector__container-fieldset {
    border-radius: 5px;
    border: 1px solid #BDCDD5;
    position: relative;
}

.selector__container-legend {
    padding: 0px 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
    position: absolute;
    top: -15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;

    &-image {
        margin-left: 5px;
    }
}

.selector__container-input-block {
    display: flex;
    align-items: center;
}

.selector__container-input {
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.07px;
    color: #22232B;
    padding-left: 12px; 
    width: 100%;

    &-increment, &-decrement {
        background-color: #FFFFFF;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-increment {
        padding-top: 2px;
    }
}

.selector__container-input::-webkit-inner-spin-button, 
.selector__container-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.selector__container-price {
    margin: 5px 0 0 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    &-span {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
}

.selector__container-select {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.07px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;

    &-arrow {
        position: absolute;
        top: 13px;
        right: 21.6px;
        pointer-events: none;

    }
}

@media (max-width: 767px) {

    .selector__container {

        &-image {
            width: 30%;
            height: 30%;
        }

        &-legend {
            font-size: 5px;
        }

        &-input-increment img, &-input-decrement img {
            width: 10px;
            height: 10px;
        }

        &-select {
            font-size: 10px;

            &-arrow {
                display: none;
            }
        }
    }
}