.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo {
        display: flex;
        align-items: center;
        margin-left: 13px;
        text-decoration: none;
        gap: 13px
    }

    &__menu {
        margin-right: 12px;
    }

    & input {
        display: none;
    }

    & label {
        font-size: 2rem;
        color: var(--blue);
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
    }
}

.logo__text {
    width: 94px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.34px;
    color: #22232B;
}

.header__menu-list {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

@media (max-width: 767px) {
    .header {

        & label {
            visibility: visible;
            opacity: 1;
            margin-right: 3%;
        }

        &__menu {
            position: absolute;
            top: 3rem;
            left: 0;
            width: 100%;
            background-color: #FFFFFF;
            z-index: 1;
            transform-origin: top;
            transform: scale(0);
            opacity: 0;
            display: flex;
            justify-content: space-between;
            margin: 0;

            &-list {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
            }
        }
    }

    .header input:checked ~ .header__menu {
        transform: scale(1);
        opacity: 1;
    }
}