.sidebar {
    width: 60px;
    height: 894px;
    background-color: #2A2C36;
    position: relative;
}

.menu {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 10px, 15px, 10px, 15px;
    gap: 10px;
}

.blue_question_mark {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 45px;
    left: 5px;
    border-radius: 3px;
    padding: 10px, 25px, 10px, 15px;
    gap: 10px;
}

.question_mark {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 427px;
    left: 5px;
    padding: 10px, 15px, 10px, 15px;
    gap: 10px;
}

.theme {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 769px;
    left: 5px;
    padding: 10px, 15px, 10px, 15px;
    gap: 10px;
}

.language {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 809px;
    left: 5px;
    padding: 10px, 15px, 10px, 15px;
    gap: 10px;
}

.pin {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 849px;
    left: 5px;
    padding: 10px, 15px, 10px, 15px;
    gap: 10px;
}

