.sidebar {
    width: 60px;
    height: 894px;
    background-color: #2A2C36;
    position: relative;

    &__item--menu {
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 10px 15px;
        cursor: pointer;
    }

    &__item--blue-question-mark {
        position: absolute;
        top: 45px;
        left: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    &__item--middle-question-mark {
        position: absolute;
        top: 427px;
        left: 5px;
        cursor: pointer;
    }

    &__item--theme {
        position: absolute;
        top: 769px;
        left: 5px;
        cursor: pointer;
    }

    &__item--language {
        position: absolute;
        top: 809px;
        left: 5px;
        cursor: pointer;
    }

    &__item--pin {
        position: absolute;
        top: 849px;
        left: 5px;
        cursor: pointer;
    }
}

